<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" formControlName="titulo">
            <p class="error" *ngIf="formulario.controls.titulo.errors && formulario.controls.titulo.touched">
                El campo título es requerido
            </p>
        </div>

        <div class="form-group">
            <label>Texto</label>
            <input type="text" class="form-control" formControlName="texto">
            <p class="error"
                *ngIf="formulario.controls.texto.errors && formulario.controls.texto.pristine && formulario.controls.titulo.touched">
                Introduzca un texto max 1000 caracteres
            </p>
        </div>

        <div class="form-group">
            <label>Autor</label>
            <input type="text" class="form-control" formControlName="autor">
            <p class="error" *ngIf="formulario.controls.autor.errors && formulario.controls.autor.touched">
                Introduzca un autor
            </p>
        </div>

        <div class="form-group">
            <label>Imagen</label>
            <input src="" class="form-control" formControlName="imagen">
            <p class="error" *ngIf="formulario.controls.imagen.errors && formulario.controls.imagen.touched">
                Introduzca la Url de la imagen
            </p>
        </div>

        <div class="form-group">
            <label class="control-label" for="date">Fecha</label>
            <input class="form-control" formControlName="fecha" id="date" name="date" placeholder="MM/DD/YYY"
                type="text" />
            <p class="error" *ngIf="formulario.controls.fecha.errors && formulario.controls.fecha.touched">
                Seleccione una fecha
            </p>
        </div>

        <div class="form-group">
            <label class="control-label">Categoría</label>
            <select class="form-control" formControlName="categoria">
                <option value="categoria" *ngFor="let categoria of arrayCategorias">
                    {{categoria}}</option>
                <p class="error" *ngIf="formulario.controls.categoria.errors && formulario.controls.categoria.touched">
                    Seleccione una categoría
                </p>
            </select>
        </div>

        <input type="submit" value="Enviar" class="btn btn-block btn-info">

        <!-- routerLink="/blog" -->

    </form>

</div>